@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a1a37;
    padding: 3em 3em;
}

header{
    width: 100%;
    height: 60px;
    background: #1a1a37;
    border-radius: 10px;
    box-shadow:  5px 5px 10px #111124,
                -5px -5px 10px #23234a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    h1{
        color: white;
        span{
            color: yellow;
        }
    }
    .check{
        background-color: yellow;
        color: black;
        padding: .5em 1.5em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 700;
    }
}

.container{
    display: flex;
    flex-grow: 1;
    transform: translateY(5em);
    width: 90vw;
    height: 50vh;
    textarea{
        outline: none;
        resize: none;
        border-radius: 5px;
        width: 50%;
        padding: 1em 1em;
        font-size: 1rem;
        .underline{
            text-decoration: underline;
        }
    }
    .phrase{
        cursor: default;
    }
}